Flask_Caching>=1.7.2
Flask_Limiter>=1.0.1
Flask>=1.1.1
Unidecode>=1.1.1
pytest>=5.2.0
flask_restplus>=0.13.0
Flask_Cors>=3.0.8
investpy>=0.9.14
pandas>=0.25.1
setuptools>=41.1.0
python-dotenv>=0.10.3
cvxpy>=1.0.25
pyopenssl>=19.1.0
argparse>=1.4.0
Werkzeug==0.16.1 # Temporary fix as explained in: https://github.com/noirbizarre/flask-restplus/issues/777